* {
  box-sizing: border-box;
}
:root {
  --fs-page2: 2.2rem;
  --fs-footer: 2rem;
  --bg-color: #f2f2f2;
  --border-radius: 2.6rem;
  --font--color: #0099e6;
}
html {
  font-size: 62.5%;
  /* 1 rem = 10px */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.container {
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: white;
  display: flex;
  border-radius: 0.5rem;
}
.page--0 {
  position: relative;
  border: 2px solid black;
  width: 79.4rem;
  height: 112.3rem;
  /* display: flex; */
}
.p0--bg {
  position: absolute;
  width: 79.15rem;
  height: 112.1rem;
  /* thêm z-index */
  z-index: 0;
}
.p0--backg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo ảnh lấp đầy khu vực */
}

.p0--intro {
  position: relative;
  z-index: 1;
  /*  */
  align-items: center;
  width: 65.5rem;
  height: 41rem;
  margin: 8.5rem auto;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p0--detai {
  width: 55rem;
  color: var(--font--color);
  font-weight: bold;
  font-size: 3rem;
  margin-top: 5.5rem;
  text-align: center;
}
.intro--header {
  font-size: 6.3rem;
  color: var(--font--color);
  font-weight: bold;
  margin-top: 4rem;
}
.p0--infor {
  margin-top: 4.7rem;
}
.p0--infor p {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: bold;
}
.page--1__left {
  width: 39.7rem;
}
.page--1 {
  position: relative;
  border: 2px solid black;
  width: 79.4rem;
  height: 112.3rem;
  display: flex;
  margin-top: 1.5rem;
}

.page--1__header {
  position: relative;
  width: 37.8rem;
  height: 6.7rem;
  background-color: var(--bg-color);
  border-radius: 8.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2;
  margin: 5.3rem 0rem 0rem 1.7rem;
}
h1.data--intro {
  font-size: 3rem;
  color: #0099e6;
  font-weight: bold;
}
.page--1__objective {
  width: 33.3rem;
  height: 20.6rem;
  background-color: var(--bg-color);
  margin: 14.8rem 0 0 3.3rem;
  border-radius: var(--border-radius);
}
.obj__header {
  display: inline-block;
  font-size: var(--fs-page2);
  color: var(--font--color);
  font-weight: bold;
  margin-top: 1.9rem;
  margin-left: 1.7rem;
}
.obj__desc {
  margin-top: 2rem;
  /* width: 245px; */
  font-size: 2rem;
  margin-left: 4rem;
  line-height: 1.5;
}
.page--1__rsqt {
  width: 33.3rem;
  height: 38.4rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  margin-top: 5.2rem;
  margin-left: 3.3rem;
}
.rsqt__header {
  display: inline-block;
  font-size: var(--fs-page2);
  color: var(--font--color);
  font-weight: bold;
  margin-top: 1.9rem;
  margin-left: 1.7rem;
}
.rsqt__desc {
  margin-top: 1rem;
  font-size: 1.75rem;
  line-height: 2;
  margin-left: 4rem;
  /* margin-right: 3px; */
}
.rsqt__2 {
  margin-top: 1rem;
}
.page--1__src {
  width: 37rem;
  height: 5.6rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  margin-top: 4.9rem;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scr__header {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--font--color);
}
.page--1__about {
  color: var(--font--color);
  font-size: 2.7rem;
  font-weight: bold;
  margin-top: 19.1rem;
  margin-left: 4.4rem;
}
.page--1__dataset {
  width: 34.3rem;
  height: 26.9rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  margin-left: 2.8rem;
  margin-top: 3.1rem;
}
.dataset__header {
  color: var(--font--color);
  font-size: var(--fs-page2);
  font-weight: bold;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 1.8rem;
}
.dataset__desc {
  margin-top: 1rem;
  font-size: 1.8rem;
  margin-left: 5.2rem;
  line-height: 1.5;
  margin-right: 1rem;
}
.dataset__desc2 {
  margin-top: 1.5rem;
}
.page--1__datadesc {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  height: 45.7rem;
  width: 34.3rem;
  margin-left: 2.8rem;
  margin-top: 2.5rem;
}
.dd__header {
  display: inline-block;
  color: var(--font--color);
  font-weight: bold;
  font-size: var(--fs-page2);
  margin-top: 1.8rem;
  margin-left: 1.8rem;
}
.desc__strong {
  font-weight: bold;
}
.desc__list {
  margin-left: 3.6rem;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 0.9rem;
}

/* Footer */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  width: 49.2rem;
  height: 6rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.ft__header {
  font-size: var(--fs-footer);
  color: var(--font--color);
  font-weight: bold;
  /* margin-top: 23px; */
  margin-left: 2.4rem;
}
.ft__num {
  font-size: var(--fs-footer);
  font-weight: bold;
  margin-left: 6.5rem;
  border-left: 0.2rem solid #5e17eb;
  padding-left: 3rem;
}
/* =================page 2=================== */
.page--2 {
  margin-top: 1.5rem;
  position: relative;
  border: 0.2rem solid black;
  width: 79.4rem;
  height: 112.3rem;
  display: flex;
  flex-direction: column;
}
.page--2__header {
  width: 47.2rem;
  height: 11.4rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.p-head2 {
  font-size: var(--fs-page2);
  color: var(--font--color);
  font-weight: bold;
  margin-left: 3rem;
}
.page--2__stat {
  margin: 0 auto;
  width: 76.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
}
.page2__chart {
  width: 76.2rem;
  height: 54.6rem;
  object-fit: fill;
  border: 0.2rem solid black;
}

.page--2__cmt {
  margin-top: 4.5rem;
  width: 76.2rem;
  height: 27.6rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}
.cmt__header {
  font-size: var(--fs-page2);
  color: var(--font--color);
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 1.6rem;
}
.cmt__desc {
  font-size: 2rem;
  line-height: 1.6;
  margin-left: 1.7rem;
  margin-right: 1rem;
}
.cmt__desc2 {
  margin-left: 3.4rem;
}

/* ===================page 3================== */
.page--3 {
  margin-top: 1.5rem;
  position: relative;
  border: 0.2rem solid black;
  width: 79.4rem;
  height: 112.3rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.p3__header {
  margin-top: 1.9rem;
  margin-left: 1.7rem;
  margin-bottom: 2rem;
  width: 45.8rem;
  height: 11.5rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
.p3__h1 {
  font-size: 2.7rem;
  color: var(--font--color);
  font-weight: bold;
}
.p3--model {
  width: 69.4rem;
  height: 11.5rem;
  background-color: var(--bg-color);
  border-radius: 8.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.2rem;
}
.p3__rmodel {
  font-size: 2.5rem;
  color: var(--font--color);
  font-weight: bold;
}
.p3__desc-model {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.p3__desc-model strong {
  font-weight: bold;
}
.page3--main {
  width: 76.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0 auto;
}

.mc__desc {
  width: 30.2rem;
  height: 25.5rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}
.mcoldesc {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 1.6;
}
.multicol {
  width: 76.5rem;
  height: 45rem;
  display: flex;
  align-items: center;
}
.mc__chart {
  margin-left: 2.6rem;
}
.mcol--chart {
  width: 43.7rem;
  height: 40.8rem;
  border: 0.2rem solid black;
  object-fit: cover;
}
.vif {
  width: 76.5rem;
  display: flex;
  align-items: center;
}
.vif--desc {
  width: 30.1rem;
  height: 15.4rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}
.vif__desc {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  line-height: 1.5;
}
.vif--chart {
  margin-left: 2.6rem;
}
.vif__chart {
  width: 43.7rem;
  height: 31.2rem;
  /* margin-left: 26px; */
  object-fit: cover;
  border: 0.2rem solid black;
}
.page--3__5 {
  margin-top: 1.5rem;
  position: relative;
  border: 0.2rem solid black;
  width: 79.4rem;
  height: 112.3rem;
  display: flex;
  flex-direction: column;
}
.p3--5__header {
  margin-bottom: 2.8rem;
}
.page3-5__main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 63.9rem;
}
.page3-5__SW {
  width: 40.8rem;
  height: 9.7rem;
  object-fit: cover;
  border: 0.2rem black solid;
}
.page3-5__desc {
  margin-top: 2.6rem;
  margin-bottom: 1.9rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  width: 65rem;
  height: 10rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.p3-5__desc {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 2.5rem;
}
.page3-5__QQ {
  width: 55.7rem;
  height: 40.3rem;
  object-fit: cover;
  border: 2px solid black;
}
.p3--QQ__desc {
  margin-top: 2.5rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  width: 64rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.QQ__desc {
  font-size: 2.2rem;
  line-height: 2;
  margin: 0 2rem;
}
.page--3__6 {
  margin-top: 1.5rem;
  position: relative;
  border: 0.2rem solid black;
  width: 79.4rem;
  height: 112.3rem;
  display: flex;
  flex-direction: column;
}
.page--3-6__main {
  margin: 2.5rem auto 2.8rem;
  margin-top: 2.5rem;
  width: 63.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.8rem;
}
.p3-6__his {
  width: 60.2rem;
  height: 43.3rem;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid black;
}
.p3-6__histdesc {
  width: 63.7rem;
  height: 8.7rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  margin-top: 2.7rem;
  display: flex;
  align-items: center;
  margin-bottom: 4.5rem;
}
.hist--desc {
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 0 2rem;
}
.BP--test {
  width: 45.5rem;
  height: 11.2rem;
  object-fit: cover;
  border: 2px solid black;
}
.p3--BPdesc {
  margin-top: 4.6rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  width: 64rem;
  height: 8.7rem;
  display: flex;
  align-items: center;
}
.BP--desc {
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 0 2rem;
}
/* ===================== Page 4==================== */
.page--4 {
  margin-top: 1.5rem;
  position: relative;
  border: 0.2rem solid black;
  width: 79.4rem;
  height: 112.3rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.p4--dw {
  width: 62.9rem;
  height: 57.5rem;
  margin: 0 auto 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dw__chart {
  width: 62.9rem;
  height: 44.7rem;
  object-fit: cover;
  border: 2px solid black;
  /* margin-bottom: 14px; */
}
.dw--chart {
  margin-bottom: 2rem;
}
.dw--desc {
  width: 71rem;
  height: 19rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  margin-bottom: 38rem;
}
.dw__desc {
  width: 67rem;
  font-size: 1.9rem;
  line-height: 1.6;
  margin: 1rem auto 0;
}
.p4--rsquare {
  width: 75.9rem;
  height: 27.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rsq--chart {
  margin-top: 6.5rem;
  margin-bottom: 3rem;
}
.rsq__chart {
  width: 63.7rem;
  height: 6.5rem;
  border: 0.2rem solid black;
  object-fit: cover;
}
.p4--rsq__desc {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  width: 63.1rem;
  height: 8.8rem;
  margin-left: 1.9rem;
}
.rsq__desc {
  width: 60rem;
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0.7rem auto 10rem;
}
/* =====================page 5=============== */
.page--5 {
  margin-top: 1.5rem;
  position: relative;
  border: 0.2rem solid black;
  width: 79.4rem;
  height: 112.3rem;
  display: flex;
  flex-direction: column;
}

.p5__header {
  width: 47.4rem;
  height: 7.6rem;
  background-color: var(--bg-color);
  margin: 1.6rem 0 1.6rem 1.6rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
.p5--main {
  width: 70.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p5--img {
  margin-bottom: 1.5rem;
}
.p5__chart {
  width: 70.5rem;
  height: 50.4rem;
  border: 0.2rem solid black;
  object-fit: cover;
}
.p5--desc {
  background-color: var(--bg-color);
  width: 70.5rem;
  height: 41rem;
  border-radius: var(--border-radius);
}
.p5--desc__list strong,
.p5__desc {
  font-weight: bold;
}
.p5--desc__header {
  margin-top: 2rem;
  color: var(--font--color);
  font-size: 2rem;
  font-weight: bold;
}
.p5--desc__header,
.p5__desc,
.p5--desc__list {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.p5__desc,
.p5--desc__list {
  font-size: 2rem;
  line-height: 1.5;
}
.ft__header a {
  text-decoration: underline;
}
.scr__header a {
  text-decoration: underline;
  color: var(--font--color);
}
/* page 6 */
.page--6 {
  margin-top: 1.5rem;
  position: relative;
  border: 0.2rem solid black;
  width: 79.4rem;
  height: 112.3rem;
  display: flex;
  flex-direction: column;
}

.p6__chart {
  width: 63.7rem;
  height: 41.1rem;
  border: 2px solid black;
  object-fit: cover;
}
.p6--img {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.p6--desc {
  width: 73.2rem;
  height: 45rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}
.p6--header {
  color: var(--font--color);
  font-size: 2.35rem;
  font-weight: bold;
}
.p6__desc {
  margin-left: 1.6rem;
  margin-right: 1.5rem;
  font-size: 2.3rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}
/* hover */

.page--1__header:hover,
.page--1__objective:hover,
.page--1__rsqt:hover,
.page--1__dataset:hover,
.page--1__datadesc:hover,
.page--1__src:hover,
.page--2__header:hover,
.page--2__chart:hover,
.page--2__cmt:hover,
.p3__header:hover,
.p3--model:hover,
.mc__desc:hover,
.mc__chart:hover,
.vif--desc:hover,
.vif--chart:hover,
.dw--chart:hover,
.dw--desc:hover,
.rsq--chart:hover,
.p4--rsq__desc:hover,
.p5__header:hover,
.p5--img:hover,
.p5--desc:hover,
.p0--intro:hover,
.page3-5__SW:hover,
.page3-5__desc:hover,
.page3-5__QQ:hover,
.p3--QQ__desc:hover,
.p3-6__his:hover,
.p3-6__histdesc:hover,
.BP--test:hover,
.p3--BPdesc:hover,
.p6--img:hover,
.p6--desc:hover {
  /* border: 3px solid #00d0ff; */
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
